#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.flex-v {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.big-font {
  font-size: 40px;
}

.button {
  transition: ease opacity 100ms;
  transition: ease background-color 200ms;
  background-color: transparent;
  border-radius: 5px;
}
.button:hover {
  cursor: pointer;
}

.bg-a {
  background-color: var(--color-a);
}

.a {
  color: var(--color-a);
  border-color: var(--color-a);
}

.bg-b {
  background-color: var(--color-b);
}

.b {
  color: var(--color-b);
  border-color: var(--color-b);
}

.bg-c {
  background-color: var(--color-c);
}

.c {
  color: var(--color-c);
  border-color: var(--color-c);
}

.bordered {
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
}
