@import "tailwindcss";

@theme {
    --color-c-charcoal: rgb(55, 50, 50);
    --color-c-sky-blue: rgb(79, 136, 173);
    --color-c-silver: rgb(220, 220, 220);
    --color-c-green: rgb(109, 135, 96);
}
